[submodule "amperage"]
	path = themes/amperage
	url = git@github.com:asurbernardo/amperage.git
[submodule "public"]
	path = public
	url = git@github.com:asurbernardo/asurbernardo.github.io.git
	branch = master
